body {
    background: #eeeeee;
    font-family: 'poppins', sans-serif;
}

header {
    background-color: #ff6f61;
}

header i, header strong {
    color: #eeeeee;
    font-size: 2.5rem;
    padding: 2rem 1rem 2rem 0rem;
}

main .form-container {
    background-color: #d1d1d1;
    max-width: 768px;
    margin: auto;
    border-radius: 0.5rem;
}

.form-conatiner h4 {
    font-weight: 100;
}

form {
    padding: 1rem 1.5rem;
}

.custom-radio, label {
    cursor: pointer;
    display: inline;
    padding-right: 0.4rem;
}

#message {
    resize: none;
    height: 200px;
}

.btn {
    background: #ff6f61;
    color: #fff;

}
.btn:hover {
    background: #fff;
    color: #ff6f61;
}


